@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Traditionally professional engineers have kept a physical journal to track their work on a project. this journal has strict rules and measures in place to ensure that it cannot be tampered with.
    This is to ensure that in the case of misfortune, the journal can be used to represent that individuals actions in a court of law. The journal in this case is used as evidence for either prosocution
    or defence. Journly aims to fill that same role but in a modern world. Allowing users to journal from anywhere with internet access including the use of a mobile phone of tablet. This allows users
    to journal while the information is still fresh without having to wait to return to their office of wherever they kept the physical journal. Future iterations of the project could include a mobile
    phone applicaiton that can be used to journal offline, which would then be pushed to the online database as soon as the device is in wifi or internet range.</p>
