@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    15 Broadway<br />
    Ultimo, NSW, 2007<br />
</address>

<address>
    <strong>Jai Robinson - 12458550:</strong>   <a href="mailto:12458550@student.uts.edu.au">12458550@student.uts.edu.au</a><br />
    <strong>Matthew Conley - 98086390:</strong>   <a href="mailto:98086390@student.uts.edu.au">98086390@student.uts.edu.au</a><br />
    <strong>Gaganpreet Singh - 12495382:</strong>   <a href="mailto:12495382@student.uts.edu.au">12495382@student.uts.edu.au</a><br />
    <strong>James Wildsmith - 12578757:</strong>   <a href="mailto:12578757@student.uts.edu.au">12578757@student.uts.edu.au</a><br />
    <strong>Audwin Oyong - 11814771:</strong>   <a href="mailto:11814771@student.uts.edu.au">11814771@student.uts.edu.au</a><br />
    <strong>Jihad Hammoudi - 98123363:</strong>   <a href="mailto:98123363@student.uts.edu.au">98123363@student.uts.edu.au</a><br />
</address>