@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<h4>Address:</h4>
<address>
    15 Broadway<br />
    Ultimo, NSW, 2007<br />
</address>

<h4>Email Addresses:</h4>
<address>
    <strong>12458550 - Jai Robinson:</strong>   <a href="mailto:12458550@student.uts.edu.au">12458550@student.uts.edu.au</a><br />
    <strong>98086390 - Matthew Conley:</strong>   <a href="mailto:98086390@student.uts.edu.au">98086390@student.uts.edu.au</a><br />
    <strong>12495382 - Gaganpreet Singh</strong>   <a href="mailto:12495382@student.uts.edu.au">12495382@student.uts.edu.au</a><br />
    <strong>12578757 - James Wildsmith:</strong>   <a href="mailto:12578757@student.uts.edu.au">12578757@student.uts.edu.au</a><br />
    <strong>11814771 - Audwin Oyong:</strong>   <a href="mailto:11814771@student.uts.edu.au">11814771@student.uts.edu.au</a><br />
    <strong>98123363 - Jihad Hammoudi:</strong>   <a href="mailto:98123363@student.uts.edu.au">98123363@student.uts.edu.au</a><br />
</address>