@{
    ViewBag.Title = "Frequently Asked Questions (FAQs)";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<h4>What is Journly?</h4>
<p>Journly is a free professional journal web application which can be used as evidence to represent that individuals actions in a court of law as immutable and non tamperable. 
    More information can be found on the About page.</p>

<br />
<h4>How to register an author?</h4>
<p>
    <ol>
        <li>Click on the Register tab on the menu bar.</li>
        <li>Enter email that you want to use.</li>
        <li>Enter password and confirm the password.<br />
        The password requirements: <br />
        <ul>
            <li>Make sure the minimum length is 6 characters.</li>
            <li>At least one non letter or digit character.</li>
            <li>At least one lowercase alphabet.</li>
            <li>At least one uppercase alphabet.</li>
        </ul></li>
        <li>Click Register button.</li>
    </ol>
</p>

<br />
<h4>How to log in?</h4>
<p>
    <ol>
        <li>Click on the Log in tab on the menu bar.</li>
        <li>Enter your registered email and password.</li>
        <li>Optionally, tick "Remember me?" checkbox to retain the login for future session.</li>
        <li>Click the Log in button.</li>
    </ol>
</p>

