@{
    ViewBag.Title = "Frequently Asked Questions (FAQs)";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<h4>What is Journly?</h4>
<p>Journly is a free professional journal web application which can be used as evidence to represent that individuals actions in a court of law as immutable and non tamperable. 
    More information can be found on the About page.</p>

<br />
<h4>How to register an author?</h4>
<p>
    <ol>
        <li>Click on the Register tab on the menu bar.</li>
        <li>Enter email that you want to use.</li>
        <li>Enter password and confirm the password.<br />
        The password requirements: <br />
        <ul>
            <li>Make sure the minimum length is 6 characters.</li>
            <li>At least one non letter or digit character.</li>
            <li>At least one lowercase alphabet.</li>
            <li>At least one uppercase alphabet.</li>
        </ul></li>
        <li>Click Register button.</li>
    </ol>
</p>

<br />
<h4>How to log in?</h4>
<p>
    <ol>
        <li>Click on the Log in tab on the menu bar.</li>
        <li>Enter your registered email and password.</li>
        <li>Optionally, tick "Remember me?" checkbox to retain the login for future session.</li>
        <li>Click the Log in button.</li>
    </ol>
</p>

<br />
<h4>How to create/start a new journal?</h4>
<p>
    <ol>
        <li>Click on the "My Journals" tab on the menu bar.</li>
        <li>Click on "New Journal" button.</li>
        <li>Enter the title for the journal and and click save.</li>
    </ol>
</p>

<br />
<h4>How to record a new journal entry?</h4>
<p>
    <ol>
        <li>Click on your existing journal.</li>
        <li>Click on "New Entry" button.</li>
        <li>Enter the title for the entry and the text body.</li>
    </ol>
</p>

<br />
<h3>Managing Journal Entries</h3>
<br />

<h4>How to edit an entry?</h4>
<p>
    <ol>
        <li>Click on the title of the entry you want to edit.</li>
        <li>Click the "Update Entry" button.</li>
        <li>Modify the text entry and enter the edited reason.</li>
        <li>Click the "Save" to finish editing.</li>
    </ol>
</p>

<br />
<h4>How to hide an entry?</h4>
<p>
    <ol>
        <li>Click on the title of the entry you want to hide.</li>
        <li>Click the "Hide Entry" button.</li>
        <li>Now the entry has been flagged as "Hidden".</li>
    </ol>
</p>

<br />
<h4>How to unhide an entry?</h4>
<p>
    <ol>
        <li>Click on the "Show Hidden" tab to display the list of "Hidden" entries</li>
        <li>Click on the title of the entry which has been previously flagged as "Hidden".</li>
        <li>Click the "Un-Hide Entry" button.</li>
        <li>Now the entry has been flagged back as "Normal".</li>
    </ol>
</p>

<br />
<h4>How to delete an entry?</h4>
<p>
    <ol>
        <li>Click on the title of the entry you want to delete.</li>
        <li>Click the "Delete Entry" button.</li>
        <li>Now the entry has been flagged as "Deleted".</li>
    </ol>
</p>

<br />
<h4>What does Version means?</h4>
<p>Version number indicates the number of times an entry has been edited.</p>

<br />
<h4>What do the flag charaters mean?</h4>
<p>
    <ul>
        <li>N means Normal - the currently active entry.</li>
        <li>H means Hidden - the entry is hidden from the normal view.</li>
        <li>D means Deleted - the entry is flagged as deleted and not shown on the normal view. All entries are immutable so they can't be deleted from the system.</li>
        <li>E means Edited - the entry of which it is edited.</li>
    </ul>
</p>

<br />
<h3>Viewing and Searching Entries</h3>
<br />

<h4>What are the "Show Hidden" and "Show Deleted" tabs in a journal's table of entries?</h4>
<p>Clicking on the "Show Hidden" tab displays the entries which has been flagged as "Hidden" in the table of entries. 
    Similarly, "Show Deleted" tab displays the entries which has been flagged as "Deleted".
    Clicking on either "Hide Hidden" or "Hide Deleted" to revert back to the normal display.</p>

<br />
<h4>How to search the journal entries by keyword?</h4>
<p>
    <ol>
        <li>Click on the "Search" tab on the menu bar.</li>
        <li>Click on "Search All Journals" to search in all of your journals, or click on a particular journal you want to search in.</li>
        <li>Enter the keyword in the search textbox and click the "Search" button.</li>
    </ol>
</p>

<br />
<h4>How to search the journal entries on a specific/nominated date?</h4>
<p>
    <ol>
        <li>Click on the "Search" tab on the menu bar.</li>
        <li>Click on "Search All Journals" to search in all of your journals, or click on a particular journal you want to search in.</li>
        <li>Enter the keyword in the search textbox.</li>
        <li>Set the Start date and End date to be the same date.</li>
        <li>Click on the "Search" button.</li>
    </ol>
</p>

<br />
<h4>How to search the journal entries between two nominated dates?</h4>
<p>
    <ol>
        <li>Click on the "Search" tab on the menu bar.</li>
        <li>Click on "Search All Journals" to search in all of your journals, or click on a particular journal you want to search in.</li>
        <li>Enter the keyword in the search textbox.</li>
        <li>Set the range of dates to search in the Start date and End date.</li>
        <li>Click on the "Search" button.</li>
    </ol>
</p>

<br />
<h4>My question is not listed here, How do I ask for help?</h4>
<p>
    <ol>
        <li>Click on the "Contact" tab on the menu bar.</li>
        <li>Listed on the page is our team's email addresses.</li>
        <li>Feel free to send us an email with questions regarding your inquries.</li>
    </ol>
</p>
